{% extends 'animal/index.html' %}
{% load static %}    
{% block content %}

  <style>
      .wrapper{
    display:flex;
    padding-top:50px;
    justify-content:center;
    }
    
    
    .collapsible{
    max-width:450px;
    overflow:hidden;
    font-weight:500;
    }
    
    
    .collapsible input{
    display: none;
    }
    
    .collapsible label{
    position:relative;
    font-weight:600;
    background-color:#fff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
    color:#1c1c6b;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding:15px 0;
    border-radius: 4px;
    z-index:1;
    
    }
    
    
    .collapsible label:after{
    content: " ";
    position: absolute;
    right: 15px;
    top:15px;
    width:18px;
    height:18px;
    background: url(arrow.svg) no-repeat 0 0;
    transition: all 0.3s ease;
    }
    
    
    .collapsible input:checked + label:after{
    transform: rotate(90deg);
    }
    
    
    .collapsible-text{
    max-height:1px;
    overflow:hidden;
    border-radius: 4px;
    line-height:1.4;
    position:relative;
    top:-100%;
    opacity:0.5;
    transition: all 0.3s ease;
    
    
    }
    
    
    .collapsible input:checked ~ .collapsible-text{
    max-height:300px;
    padding-bottom:25px;
    background:#fff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
    
    }
    
    
    .collapsible-text h2{
    margin-top: 10px;
    padding:15px 15px 0;
    color: #1c1c6b;
    
    }
    
    
    .collapsible-text p{
    padding-left:15px;
    padding-right:15px;
    }
    </style>

    
<br>
<br>
<br>

<div class="whole">


    <div class="half1">
      <form style="width: 100%;">
        <select id="animal-type" name="Animals" style="background-color: lightgray;">
          <option value="Animal Type">Animal Type</option>
          <option value="Cow"> Cow </option>
          <option value="Goat">Goat</option>
          <option value="Chicken">Chicken</option>
          <option value="Rabbit">Rabbit</option>
          <option value="Fish"> Fish </option>
          <option value=" Pig ">Pig</option>
          <option value=" Duck">Duck</option>
        </select>      
    
       <label id="animals-count"> {{count}} Animal(s) Found!</label>
    
      </form>
  
      <br> 
  <input type="text" name="animalname" id="animalname" style="width:500px; height:35px"  placeholder="Burns Elvin Sasuna Cow"> </textarea>
  <br>
  <br>
  
  <table class="tb" id="animal-list">
    {% include 'animal/animal_list.html' %}  
  </table>
    
    </div>
  
  
    <div class="half2">
      
<div>

<form method="POST" id="healthreport" style="text-align: left; margin-top: 70px; margin-left: 80px;">
  {% include 'animal/healthreports.html' %}

</form>





<div>

  
</div>






</div>




  
    </div>
  
  
    
  
  
  
  
  
  </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).on('click', '.animalcol', function(){
    var self = $(this);
    
    $.ajax({
      url: '/animalhealth/',
      type: 'POST',
      data: JSON.stringify({
        'animal_id': self.attr('id')
      }),
      dataType: 'json',
      success: function(data){
        $('#healthreport').html(data.animal)
      }
    });
    return false;
  })

</script>
{% endblock %}
