<tr>
    <th>Animal Id</th>
    <th>Animal Name</th>
    
  </tr>
  {% for a in animals %}
  <tr style="cursor:pointer;" id = "{{a.id}}" class="animalcol">
    <td> {{a.idt}} </td>
    <td> {{a.name}} </td>
    
  </tr>
{% endfor %}
{% if animals.count < 5 %}
<tr>
    <td>---</td>
    <td>---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td>---</td>
    <td>---</td>
</tr>
{% elif animals.count > 5 and animals.count < 10 %}
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td> ---</td>
    <td> ---</td>
</tr>
<tr>
    <td>---</td>
    <td>---</td>
</tr>
{% endif %}
